.screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--gray-200, #d9d9d9);

  /* For Navbar, Tapbar */
  padding-top: 3.125rem;
  padding-bottom: 4.375rem;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 768px;
  background-color: white;
}

a {
  text-decoration: none;
  cursor: pointer;
}

button {
  border: none;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
}
