:root {
  /* Primary color */
  --blue-100: #f4f9ff;
  --blue-200: #bddbff;
  --blue-300: #2c8dff;
  --blue-400: #0075ff;
  --blue-500: #2e69ff;

  /* Gray Color */
  --gray-100: #f0f0f0;
  --gray-200: #d9d9d9;
  --gray-300: #636363;
  --gray-400: #212121;

  /* Green Color */
  --green-100: #beffad;
  --green-200: #3f0;

  /* --blue-100: #f4f9ff;
  --blue-300: #bddbff;
  --blue-400: #2E69FF;
  --blue-500: #0075ff;
  --blue-600: #2e69ff; 
  --gray-100: #f0f0f0;
  --gray-200: #d9d9d9;
  --gray-600: #636363;
  --gray-900: #212121; */
}
